<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Register{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
</head>

{% block body %}
    <h1>Welcome to UNSEEN</h1>
    <h3>Create your account:</h3>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}

    <div class="form-group">
        {{ form_label(registrationForm.agreeTerms) }}
        {{ form_widget(registrationForm.agreeTerms) }}
    </div>

    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
