{% extends 'base.html.twig' %}

{% block title %}Liste des albums{% endblock %}

{% block body %}
<<<<<<<<< Temporary merge branch 1
    <a href="{{ path('album_create_page') }}" class="btn btn-primary">Créer un album</a>
    
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    
    <h1>Liste des Albums</h1>
=========
    <h1>Liste des albums</h1>
>>>>>>>>> Temporary merge branch 2
    <ul>
        {% for album in albums %}
            <li><a href="{{ path('album_show', {id: album.id}) }}">{{ album.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}